# infrastructure/ansible/ansible.cfg
[defaults]
inventory = inventory.ini
host_key_checking = False # WARNING: Less secure, ok for testing/CI, disable for direct prod use
# private_key_file = ~/.ssh/id_rsa # Define if using key-based SSH
# remote_user = ubuntu # Define default user for target hosts
roles_path = ./roles # Tell Ansible where to find roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False